QGroupBox {
    font: bold;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 5px;
}

/*GroupBox[class=MainWindow] {
    margin-top: 20px;
}*/

QGroupBox::title {
    subcontrol-origin: margin;
    subcontrol-position: top left;
    padding: 0 3px;
}

QLabel#infoCalib {
    font: bold;
}
